<div class="container mt-3 py-2 bg-success bg-opacity-25">
  <h2 style="color:green">Bienvenido {{email}}</h2>
  <a href="/logout" class="btn btn-warning">Desloguear</a>
</div>

<div class="container mt-3 pt-2 bg-secondary bg-opacity-25">
  <h2 style="color:blue">Centro de Mensajes</h2>
  <form method="post" id="formMessage">
    <div class="mb-3">
      <label for="email" class="form-label">Email: </label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="email" required>
    </div>
        <div class="mb-3">
      <label for="name" class="form-label">Name: </label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="name" required>
    </div>
        <div class="mb-3">
      <label for="lastname" class="form-label">Lastname: </label>
      <input type="text" class="form-control" id="lastname" name="lastname" aria-describedby="lastname" required>
    </div>
        <div class="mb-3">
      <label for="age" class="form-label">Age: </label>
      <input type="number" class="form-control" id="age" name="age" aria-describedby="age" required>
    </div>
        <div class="mb-3">
      <label for="nickname" class="form-label">Nickname: </label>
      <input type="text" class="form-control" id="nickname" name="nickname" aria-describedby="nickname" required>
    </div>
        <div class="mb-3">
      <label for="avatar" class="form-label">Avatar: </label>
      <input type="text" class="form-control" id="avatar" name="avatar" aria-describedby="avatar" required>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Text: </label>
      <input type="text" class="form-control" id="text" name="text" aria-describedby="text" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <hr>

  <div id="messages" class="pb-2 mb-4"></div>
</div>